<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <factfinder>
            <search>
                <address>example.com</address>
                <port>80</port>
                <protocol>http</protocol>
                <!-- possible values: http, https -->

                <auth_type>advanced</auth_type>
                <auth_advancedPrefix>FACT-FINDER</auth_advancedPrefix>
                <auth_advancedPostfix>FACT-FINDER</auth_advancedPostfix>

                <!-- encoding settings -->
                <encoding>
                    <pageContent>UTF-8</pageContent>
                    <serverURI>UTF-8</serverURI>
                    <pageURI>UTF-8</pageURI>
                </encoding>
            </search>
            <export>
                <images_and_deeplinks>1</images_and_deeplinks>
                <image_type>image</image_type>
                <remove_tags>1</remove_tags>
                <image_size>0</image_size>
            </export>
        </factfinder>
    </default>
</config>
