<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../magento/framework/Event/etc/events.xsd">
    <event name="controller_action_predispatch_factfinder">
        <observer name="factfinder" instance="Flagbit\FACTFinder\Controller\Export" method="preDispatch" />
    </event>
</config>
