<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="factfinder" translate="label" type="text" sortOrder="100000000" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>FACT-Finder</label>
            <tab>catalog</tab>
            <resource>Flagbit_FACTFinder::config_factfinder</resource>
            <group id="seo" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search Engine Optimization</label>
                <field id="search_terms1" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popular Search Terms1</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
